.idea/
*.iml
target/
**/target/

shelf/
workspace.xml
httpRequests/
queries/
dataSources/
dataSources.local.xml

*.log

.env
.env.*
application-local.properties
application-local.yml

.DS_Store
Thumbs.db